.row {
  box-shadow: inset 0px 0px 20px 10px black;
  overflow-y:scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.795);
    height: 100vh;
    color: rgb(110, 2, 2);
  }
  
  /* Create three equal columns */
.container{
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 25vh;
  margin-left: 5vh;
  margin-right: 5vh;
  height:fit-content;
  width: 75vw;
  background-color: beige;
  border: 3px solid rgb(173, 173, 172);
  box-shadow: 0px 00px 20px 10px rgb(173, 173, 172);
}
#name{
  font-family: 'Parisienne';
  font-size: 5vh;
  font-weight: 900;
  padding-top: 10vh;
  padding-bottom: 2vh;
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 0;
}
#work{
  font-family: 'Parisienne';
  font-size: 3vh;
  font-weight: 900;
  padding-top: 0vh;
  padding-bottom: 7vh;
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 0;
  border-bottom: 2px solid rgb(173, 173, 172);
}
.thebox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 2px solid rgb(173, 173, 172);
  margin: 0;
}
#email{
  color: rgb(110, 2, 2);
  text-decoration: none;
  font-family: 'times new roman';
  margin: 0;
  padding:0;
}
#lokation{
  font-family: 'times new roman';
}
#telefon{
  font-family: 'times new roman';
}
#github{
  color: rgb(110, 2, 2);
  text-decoration: none;
  font-family: 'times new roman';
}

.overskrift{
  font-family: 'times new roman';
  font-size: 3vh;
  font-weight:bolder;
  letter-spacing: 0.2vh;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
}
.resume{
  font-family: 'times new roman';
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 1.5vh;
}
.uddannelse{
  font-family: 'times new roman';
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 1.5vh;
}
.arbejde{
  font-family: 'times new roman';
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 1.5vh;
}
.sprog{
  font-family: 'times new roman';
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
  font-size: 1.5vh;
}
.thesecondbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.table1{
  margin: 5vh;
}
.table2{
  margin: 5vh;
}
.fish3{
  margin: 5vh;
}
.kompetencer{
  font-family: 'times new roman';
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  font-size: 1.5vh;
}
@media screen and (max-width: 940px) {
  .thesecondbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .thebox{
    flex-wrap: wrap;
  }
  #name{
  }
}