<div class="row">
  <div class="container">
    <p id="name">Martin Almand Berthelsen</p>
    <p id="work">Datatekniker m. speciale i programmering</p>
    <div class="thebox">
    <a id="email" href="mailto:Almand1999@hotmail.com">E-mail: Almand1999@hotmail.com</a>
    <p id="lokation">Lokation: Rødovre, Danmark.</p>
    <p id="telefon">Telefon: 27 14 68 70</p>
    <a id="github"href="https://github.com/dethenrik">Github</a>
    </div>
    <p class="overskrift">Resumé</p>
    <hr class="hrtxt">
    <p class="resume">Hej mit navn er Martin.</p>
    <p class="resume">Jeg går på skole-oplærings-centret i Ballerup som programmør hvor jeg er igang med Praktikforløb 3 og skal på hovedforløb 3 d. 15 januar 2024</p>
    <p class="resume">jeg har længe gået med ønsket om at være programmør og jeg venter spændt på der er nogen som vil have en ansvarsbevidst programmør Elev</p>
    <p class="resume">Glæder mig til at høre fra jer.</p>
    <hr id="hr">
    <p class="overskrift">Udannelse</p>
    <hr id="hr">
    <p class="uddannelse">Sted - TEC skole-oplærings-centret</p>
    <p class="uddannelse">Titel - Data-teknikker m. speciale i programmering</p>
    <p class="uddannelse">Dato - Aug 2021 - 2026</p>
    <hr id="hr">
    <p class="uddannelse">Sted - TEC</p>
    <p class="uddannelse">Titel - Godsvogns chauffør</p>
    <p class="uddannelse">Dato - Aug 2019 - Dec 2019</p>
    <hr id="hr">
    <p class="uddannelse">Sted - hendriksholm Skole</p>
    <p class="uddannelse">Titel - Folkeskole</p>
    <p class="uddannelse">Dato - Aug 2006 - juni 2015</p>
    <hr id="hr">
    <p class="overskrift">Arbejds erfaring</p>
    <hr id="hr">
    <p class="arbejde">Sted - Torvets Kiosk</p>
    <p class="arbejde">Titel - Salgs Assistent</p>
    <p class="arbejde">Dato - juni 2019 - oktober 2020</p>
    <hr id="hr">
    <p class="arbejde">Sted - Express vikar</p>
    <p class="arbejde">Titel - LagerMedarbejder</p>
    <p class="arbejde">Dato - Maj 2017 - jan 2018</p>
    <hr id="hr">
    <p class="arbejde">Sted - Netto</p>
    <p class="arbejde">Titel - Kasse Assistent</p>
    <p class="arbejde">Dato - Aug 2015 - Mar 2016</p>
    <hr id="hr">
    <p class="overskrift">sprog</p>
    <hr id="hr">
    <p class="sprog">Dansk - Modersmål</p>
    <p class="sprog">Engelsk - Snakker Dagligt</p>
    <hr id="hr">
    <p class="overskrift">Kompetencer</p>
    <hr id="hr">
    <div class="thesecondbox">
    <div class="table1">
    <p class="kompetencer">- Github</p>
    <p class="kompetencer">- Tilslutning af server</p>
    <p class="kompetencer">- Opsætning og konfiguration a styresystem</p>
    <p class="kompetencer">- Cisco CCNA 1</p>
    <p class="kompetencer">- UML klasse diagrammer</p>
    <p class="kompetencer">- Case diagrammer</p>
    </div>
    <hr id="hr">
    <div class="table2">
    <p class="kompetencer">- CRUD</p>
    <p class="kompetencer">- MYSQL</p>
    <p class="kompetencer">- MSSQL</p>
    <p class="kompetencer">- HTML</p>
    <p class="kompetencer">- Cascading style system(CSS)</p>
    <p class="kompetencer">- Angular</p>
    </div>
    <hr id="hr">
    <div class="fish3">
    <p class="kompetencer">- C#</p>
    <p class="kompetencer">- Object orienteret programmering</p>
  </div>
  </div>
</div>

