<div class="row">
    <div class="column-LEFT">
      <div class="card-myName">
        <div class="Kompetencer"><!--FIRST COLUMN LEFT SIDE-->
          <p class="overskift"> KOMPETENCER </p>
          <hr class="hr">
          <h4> GITHUB - ADVANCED BEGINNER</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> HTML - ADVANCED BEGINNER</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> CSS - ADVANCED BEGINNER</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> C# - ADVANCED BEGINNER</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> CRUD - ADVANCED BEGINNER</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> OOP - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> OS STYRING - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> UML KLASSEDIAGRAMMER - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> CASE DIAGRAMMER - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> MySQL - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> MSSQL - NOVICE</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> TILSLUTNING AF SERVER FRA VSC</h4>
          <hr style="border-color:rgba(80, 80, 80, 0.452); width: 80%;">
          <h4> CISCO CCNA 1</h4>
        </div>
      </div>
    </div>
    <div class="column-RIGHT">
      <div class="card-INFO">
          <p class="overskift"> Resume</p>
            <hr class="hr">
            <p class="text"> Hej mit navn er Martin. </p>
                <p class="text"> Jeg går på skole-oplærings-centret i Ballerup som programmør hvor jeg er igang med Praktikforløb 3 og skal på hovedforløb 3 d. 15 januar 2024 </p>
                    <p class="text"> jeg har længe gået med ønsket om at være programmør og jeg venter spændt på der er nogen som vil have en ansvarsbevidst programmør Elev</p>
                        <p class="text"> Glæder mig til at høre fra jer. </p>
              <p> </p>
              <hr class="hr">
              <p class="text"> Stilling: Elevplads</p>
                <p class="text"> Som?: Datateknikker m. speciale i programmering</p>
          <div class="Erfaring"><!--SECOND COLUMN RIGHT SIDE-->
            <hr class="hr">
            <p class="overskift"> Erfaring </p>
            <hr class="hr">
            <p class="text"> Sted: Torvets kiosk</p>
            <p class="text">Titel: Salgsassistent</p>
                    <p class="text"> Dato: juni 2019 - oktober 2020</p>
            <hr class="hr">
            <p class="text">Sted: Expressvikar</p>
                <p class="text"> Titel: Lagermedarbejder</p>
                    <p class="text"> Dato: Maj 2017 - Jan 2018 </p>
            <hr class="hr">
            <p class="text"> Sted: Netto</p>
                <p class="text"> Titel Kassemedarbejder</p>
                    <p class="text"> Dato: Aug 2015 - Mar 2016</p>
          </div>
          <div class="Skole"><!--THIRD COLUMN RIGHT SIDE-->
            <hr class="hr">
            <p class="overskift"> Skole </p>
            <hr class="hr">
            <p class="text"> Sted: TEC skole-oplærings-centret</p>
                <p class="text"> Titel: Data-teknikker m. speciale i programmering</p>
                    <p class="text"> Dato: Aug 2021 - 2026</p>
            <hr class="hr">
            <p class="text"> Sted: TEC</p>
                <p class="text"> Titel: Godsvognschauffør</p>
                    <p class="text"> Dato: Aug 2019 - Dec 2019 </p>
            <hr class="hr">
            <p class="text"> Sted: Hendriksholmskole</p>
                <p class="text"> Titel: Folkeskole</p>
                    <p class="text"> Dato: Aug 2006 - Juni 2015</p>
          </div>
        </div>
      </div>
    </div>

