<div class="backgroundOpacity">
  <div class="Box">
    <div class="Card">
      <img class="img_1" src="https://user-images.githubusercontent.com/98741878/270876721-ab1b31b5-2a5b-487a-97fd-ee23d404c20b.png">
      <p class="Name">Martin Almand Berthelsen</p>
      <p class="Work">DataTekniker m. speciale i programmering</p>
      <p class="Forløb">Praktikforløb 3</p>
      <a class="E-mail" href=" mailto:Almand1999@hotmail.com"> Almand1999@hotmail.com </a>
      <p class="Tlf">+45 27 14 68 70</p>
    </div>
  </div>
</div>
