<section class="gallary">
  <div class="container">
    <div class="img-container">
      <img src="../assets/image1.jpg" alt="image" id="preview">
      <div class="img-prev">
        <div class="img-slide active">
          <img src="../assets/image1.jpg" alt="image1" app-beviser>
        </div>
        <div class="img-slide">
          <img src="../assets/image2.jpg" alt="image2" app-beviser>
        </div>
        <div class="img-slide">
          <img src="../assets/image3.jpg" alt="image3" app-beviser>
        </div>
        <div class="img-slide">
          <img src="../assets/image4.jpg" alt="image4" app-beviser>
        </div>
      </div>
    </div>
  </div>
</section>

