<div class="button-group">
    <img class="PB"src="https://user-images.githubusercontent.com/98741878/270876721-ab1b31b5-2a5b-487a-97fd-ee23d404c20b.png" alt="PB" routerLink="/">
    <button class="button-profil"><a class="fas fa-person" routerLink="/profil"> PROFILE</a></button>
    <button class="button-opgaver"><a class="fas fa-list-check" routerLink="/opgaver"> OPGAVER</a></button>
    <button class="button-CV"><a class="fas fa-file" routerLink="/cv"> CV</a></button>
    <button class="button-timeline"><a class="fas fa-timeline" routerLink="/timeline"> TIMELINE</a></button>
    <button class="button-beviser" ><a class="fas fa-scroll" routerLink="/beviser"> BEVISER</a></button>
</div>