    <div class="message">This is a work in progress, please reload page if the animation fail </div>
    <div class="box">
        <div class="container">  
            <script src="/src/assets/game.js"></script>
        </div>
        <canvas id="canvas1"></canvas>
        <div class="controls">
            <label for="animations">choose animation:</label>
            <select id="animations" name="animations">
            <option value="idle">idle</option>
            <option value="jump">jump</option>
            <option value="fall">fall</option>
            <option value="run">run</option>
            <option value="dizzy">dizzy</option>
            <option value="sit">sit</option>
            <option value="roll">roll</option>
            <option value="bite">bite</option>
            <option value="ko">ko</option>
            <option value="gethit">get hit</option>
        </select>
        </div>
    </div>