#canvas1{
    border: 5px solid black ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    width:600px;
    height: 600px;
}
#button{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 8vh;
    width: 5vw;
    height: min 8vh;
    min-width: 92px;
}
.message{
    display: flex;
    justify-content: center;
    padding: 10vh;
    font-size: 3vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}



/*MOBIL SCREENS*/
@media screen and (max-width: 940px) {
    #canvas1 {
        border: 5px solid black ;
        position: absolute;
        top: 25;
        left:25;
        transform:translate(-50%, -50%) ;
        width:600px;
        height: 600px;
        margin: 20vh;
    }
  }