<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="fas fa-person" routerLink="/profil"> PROFILE</a>
    <a class="fas fa-list-check" routerLink="/opgaver"> OPGAVER</a>
    <a class="fas fa-file" routerLink="/cv"> CV</a>
    <a class="fas fa-timeline" routerLink="/timeline"> TIMELINE</a>
    <a class="fas fa-scroll" routerLink="/beviser"> BEVISER</a>
    <a class="fas fa-scroll" routerLink="/game"> GAME</a>
  </div>
  
  <button class="openbtn" onclick="openNav()">&#9776;</button>