* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Parisienne';
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-bottom: 25vh;
    background-image: url('https://user-images.githubusercontent.com/98741878/270642996-6f2c1a4d-4a23-467d-9943-51fe1f366f43.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -290px;
    opacity: 0;
    transition: opacity 1.5s;
    overflow: auto;
    overflow-x: hidden;
  }